@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
<script>
    let myMixin = {
        data() {
            return {
                date: null,
                url: 'http://url',
                options: {},
                myValue: '',
                // define the default value
                value: null,
                // define options
                options1: [{
                    id: 'a',
                    label: 'a',
                    
                    children: [{
                        id: 'aa',
                        label: 'aa',
                    }, {
                        id: 'ab',
                        label: 'ab',
                    }],
                }, {
                    id: 'b',
                    label: 'b',
                }, {
                    id: 'c',
                    label: 'c',
                }],
                datas: {
                    labels: [
                        "January",
                        "February",
                        "March",
                        "April",
                        "May",
                        "June",
                        "July",
                    ],
                    datasets: [
                        {
                            label: "Caffine Consumption",
                            data: [65, 59, 80, 81, 56, 55, 40],
                            fill: false,
                            borderColor: "#41B883",
                            backgroundColor: "black",
                        },
                        {
                            label: "Productivity",
                            data: [70, 25, 110, 90, 5, 60, 30],
                            fill: false,
                            borderColor: "#00D8FF",
                            tension: 0.5,
                            backgroundColor: "blue",
                        },
                    ],
                }
            }
        },
        methods: {
            myChangeEvent(val) {
                console.log(val);

            },
            mySelectEvent({ id, text }) {
                console.log({ id, text })
            },
            onChange() {
                console.log(this.months)
            }
        }
    };
</script>
}
<div class="text-center">
    <h1 class="display-4">
        Welcome
        <b-icon-facebook />
    </h1>
    <div>
        <treeselect :value-consists-of="'LEAF_PRIORITY'" v-model="value" :multiple="true" :options="options1" />
        <select2 v-model="myValue" :options="[{id: '1', text: 'Lựa chọn 1'}, {id: '2', text: 'Lựa chọn 2'}]" :settings="{ settingOption: value, settingOption: value, multiple: true }" v-on:change="myChangeEvent($event)" v-on:select="mySelectEvent($event)" />
        <h4>Value: {{ myValue }}</h4>
    </div>
        <line-chart :datasets="datas"></line-chart>
    <line-chart :datasets="datas"></line-chart>
    <input v-maska="{ mask: ['!#HHHHHH', '!#HHHHHH-HH'], tokens: { 'H': { pattern: /[0-9a-fA-F]/, uppercase: true }}}">
</div>
<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
