@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
<script>
    let myMixin = {
        data() {
            return {
                date: null,
                url: 'http://url',
                options: {},
            }
        },

    };
</script>
}
<div class="text-center">
    <h1 class="display-4">Welcome
        <b-icon-facebook />
    </h1>
    <bar-chart :url=""></bar-chart>
    <input v-maska="{ mask: ['!#HHHHHH', '!#HHHHHH-HH'], tokens: { 'H': { pattern: /[0-9a-fA-F]/, uppercase: true }}}">n
</div>
<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
